body{ 
    background-image:url(professional-microphone-and-headphones-on-stage-in-recording-studio-music-concept-recording-studio-in-the-background-with-a-microphone-ai-generated-free-photo.jpg);
background-size: 800px;
   
        
    }
#p1{ color: red;
}
#p1{ font-size: big;}
#p1{
    font-style:normal;
}
#d1{ color:purple;}
#d2{color:purple}
#d3{
    color:rgb(42, 43, 38) ;
}
